mixin finish-screen
  .finish-screen
    .finish-screen__offer
      h1.finish-screen__title Так держать, космический странник!!!
      span.finish-screen__counter Счет: 0
      +button("Попробовать еще")(class="restart-button")